---
import ExperienceSection from "../components/ExperienceSection.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layout/Layout.astro";
---

<Layout title="Hernan Yarbi">
	<main class="pt-20 size-full overflow-x-hidden">
		<HeroSection/>
		<ExperienceSection/>
	</main>
</Layout>
