<section id="about-me"  class="flex justify-center pt-20 px-10 w-full">
    <div class="flex flex-col w-full max-w-[800px] gap-10">
        <h2 class="text-3xl lg:text-4xl font-semibold text-white">Sobre mi </h2>
        <div>
            <img class=" md:float-right object-cover size-52 rounded-xl ring-8 ring-gray-800 m-2" src="/images/Hernan-Yarbi-About-Me.jpeg">
            <p class="text-gray-400 max-w-[43rem]">Me llamo Hernan Yarbi, algo hiperactivo, me gusta aprender siempre habilidades nuevas.</p>
            <p class="text-gray-400 max-w-[43rem] mt-2">Creo en tres pilares fundamentales en mi vida:</p>
            <h3 class="text-white font-semibold text-xl mt-4">Aprendizaje:</h3>
            <p class="text-gray-400 max-w-[43rem] mt-2">Soy un apasionado del aprendizaje continuo. Me motiva enfrentar desafíos nuevos y ver cada proyecto como una oportunidad de crecimiento personal y profesional.
            </p>
            <h3 class="text-white font-semibold text-xl mt-4">Salud:</h3>
            <p class="text-gray-400 max-w-[43rem] mt-2">Mantener un equilibrio mental y físico es esencial para mí. Mi familia es mi motor, y me esfuerzo por lograr un balance saludable entre mi vida personal y profesional.
            </p>
            <h3 class="text-white font-semibold text-xl mt-4">Crecimiento Personal:</h3>
            <p class="text-gray-400 max-w-[43rem] mt-2">Dedico tiempo a reflexionar y planificar mis metas. Creo que es vital tener claridad sobre hacia dónde quiero avanzar y cómo eso impacta en mi vida.
            </p>
        </div>
        
    </div>
</section>