---

---
<header class="fixed w-screen py-5 inset-x-0 backdrop-blur-2xl top-0 dark:border-neutral-800 dark:bg-zinc-800/30 dark:from-inherit lg:w-auto lg:rounded-xl lg:border lg:bg-gray-200 lg:p-4 lg:dark:bg-zinc-800/30 shadow-md z-50">
    <nav class="flex justify-center space-x-4">
        <a href="#experience" class="text-white cursor-pointer font-semibold">Experiencia</a>
        <a href="#experience" class="text-white cursor-pointer font-semibold">Proyectos</a>
        <a href="#experience" class="text-white cursor-pointer font-semibold">Sobre mi</a>
    </nav>
</header>