<section class="flex justify-center">
    <div class="section flex flex-col-reverse items-center justify-end w-full max-w-[800px] lg:flex-row lg:justify-between">
        <div class="flex flex-col gap-4 p-8">
            <h1 class="text-white text-4xl lg:text-5xl leading-tight">Hola, <br><span class="font-bold">Soy Hernan Yarbi</span></h1>
            <p class="text-white text-xl w-full max-w-[400px]">
                Desarrollador Web, con más de 5 años de experiencia. Desde Jujuy, Argentina. 
            </p>
            <div class="flex gap-4">
                <a href="https://github.com/hernanyarbi" 
                    target="_blank"
                    rel="noopener noreferrer"
                    class="cursor-pointer text-white font-semibold py-1 px-3 rounded-full border bg-gray-800">
                    Github
                </a>
            </div>
        </div>
        <img src="/public/images/Hernan-Yarbi.jpeg" alt="Hernan Yarbi" class="size-60 object-cover rounded-blob">
    </div>
</section>