<section class="flex justify-center h-full mb-20 pt-20 md:pt-0 md:mb-0">
    <div class="section flex flex-col-reverse items-center justify-center w-full max-w-[800px] lg:flex-row lg:justify-between">
        <div class="flex flex-col gap-4 p-8">
            <h1 class="text-white text-4xl lg:text-5xl leading-tight">Hola, <br><span class="font-bold">Soy Hernan Yarbi</span></h1>
            <p class="text-white text-xl w-full max-w-[400px]">
                Desarrollador Web, con más de 5 años de experiencia. Desde Jujuy, Argentina. 
            </p>
            <div class="w-fit text-green-200 font-semibold py-1 px-3 rounded-full border border-green-900 bg-gray-800 animate-pulse  h-fit">Disponible para trabajar</div>
            <div class="flex gap-4">
                <a href="https://github.com/hernanyarbi" 
                    target="_blank"
                    rel="noopener noreferrer"
                    class="cursor-pointer text-white font-semibold py-1 px-3 rounded-full border bg-gray-800 hover:bg-gray-700 transition-all h-fit">
                    Github
                </a>
                <a href="https://www.linkedin.com/in/hernan-yarbi" 
                    target="_blank"
                    rel="noopener noreferrer"
                    class="cursor-pointer text-white font-semibold py-1 px-3 rounded-full border bg-gray-800 hover:bg-gray-700 transition-all  h-fit">
                    Linkedin
                </a>
            </div>
        </div>
        <img src="/images/Hernan-Yarbi.jpeg" alt="Hernan Yarbi" class="size-72 md:size-80 object-cover rounded-blob">
    </div>
</section>