---
import Tailwind from './icons/Tailwind.astro'
import NextJS from './icons/NextJS.astro'
import ReactJS from './icons/ReactJS.astro'
//TODO: ir agregando los chips faltantes
interface Props {
    technologie: 'NEXT' | 'TAILWIND' | 'REACT' //| 'AWS' | 'Node.JS' | 'Express' | 'Styled Components' | 'React Query' | 'Docker' | 'JWT'
}
const {technologie} = Astro.props
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-white text-blak",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#23272F] text-white",
    icon: ReactJS,
  },
}
const chip = TAGS[technologie]
---
<li>
    <span
      class={`flex gap-x-2 rounded-full text-xs ${chip.class} py-1 px-2 `}
    >
      <chip.icon class="size-4" />
      {chip.name}
    </span>
  </li>