---
import Header from '../components/Header.astro'
import '@fontsource-variable/nunito'

interface Props {
    title: string
	description: string
}

const {title, description} = Astro.props
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative h-screen w-screen bg-slate-950 " >
		<div class="absolute z-[-2] bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]">
		</div>
		<Header/>

		<slot/>
        
	</body>
</html>

<style is:global>
html{
	font-family: 'Nunito Variable',  sans-serif;
}
</style>